[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/dr_libs"]
	path = dependencies/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/miniaudio"]
	path = dependencies/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/fastgltf"]
	path = dependencies/fastgltf
	url = https://github.com/spnda/fastgltf.git
